{% extends "allauth/layouts/base.html" %}



{% load crispy_forms_tags %}
{% load jrtemplatetags %}

{% block title %}Game Files{% endblock title %}


{% block content %}
<h1>Game File List for "<a href="{{ game.get_absolute_url }}">{{game.name}}</a>"</h1>

<a href="{% url 'gameFileCreate' game.slug %}" class="btn btn-info" role="button">Upload new files for game</a>
<hr/>



<div class="jrpadafter border p-2">
    <form method="get" id="sortForm">
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort" onchange="document.getElementById('sortForm').submit();">
          <option value="default" {% if current_sort == 'default' %}selected{% endif %}>Default</option>
          <option value="name" {% if current_sort == 'name' %}selected{% endif %}>Name</option>
          <option value="date" {% if current_sort == 'date' %}selected{% endif %}>Upload Date</option>
          <option value="size" {% if current_sort == 'size' %}selected{% endif %}>File size</option>
        </select>
    </form>
    </div>
    


<ul class="gameFileList">
{% for gamefile in gamefile_list %}
    <li class="gameFileEntry">
        <a href="{{ gamefile.get_absolute_url }}">{{ gamefile.filefield.name | justfilename }}</a>

        {% if gamefile.note %}
         &nbsp;({{ gamefile.note }})
        {% endif %}

        {% if gamefile.filefield.url|isImageFilePath %}
            <br/>
                <a href="{{ gamefile.filefield.url }}" data-toggle="lightbox">
                    <img src="{{ gamefile.filefield.url }}" class="imgThumbnailSized"/>
                </a>
        {% endif %}

        <ul>
        <li><b>File size</b>: {{ gamefile.fileSize|formatFileSize }}</li>
        <li><b>File date</b>: {{ gamefile.fileDate|formatFileDate }}</li>
        </ul>

    </li>
{% endfor %}
</ul>

<hr/>
    <div>
        <p>Additional actions:</p>
        <ul class = "jrButtonList">
            <li>
                <form method="post" action="{% url 'gameFileReconcile' game.slug %}"> {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-secondary btn-sm" type="submit" name="reconcile" value="Reconcile file directory (auto add/delete)" onclick="return confirm('Are you sure?');">
                </form>                
            </li>
            <li>
                <form method="post" action="{% url 'gameFileDownload' game.slug %}"> {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-secondary btn-sm" type="submit" name="download" value="Download a zip of all files above">
                </form>                
            </li>
        </ul>



    </div>

{% endblock content %}
