{% if "noInfo" not in options %}
    {% autoescape off %}
    {{ buildResultsHtml }}
    {% endautoescape %}
{% endif %}

<ul>
    {% for fileEntry in fileList %}
        <li class="fileEntry">
            <a href="{{ fileEntry.url }}" target="_blank">{{ fileEntry.name }}</a> ({{ fileEntry.fileSizeNiceStr }})
            {% if "showDate" in options %}
                - {{ fileEntry.fileDateString }}
            {% endif %}
        </li>
    {% endfor %}

    {% if fileList|length == 0 %}
        {% if not buildError %}
            <div>No files.</div>
        {% endif %}
    {% else %}

        {% if "dontShare" in options %}
            <div class="textWarn">NOTE: Do not share these files as they are not stable; only shared published files.</div>
        {% endif %}

    {% endif %}

</ul>
<hr/>
